.form-footer {
  display: flex;
  padding: 2rem;
}

.form-footer__add {
  flex: 1;
  background-color: var(--clr-orange);
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  margin-left: 1.6rem;
  transition: filter 0.6s ease;
}

.form-footer__add:hover {
  filter: brightness(0.8);
}
